<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script type="text/javascript">
	const d = () => {
		location.href = "/board/del?num=[[${b.num}]]";
	}
</script>
</head>
<body>
<h3>상세 페이지</h3>
<form action="/board/edit" method="post">
<table border="1">
<tr>
	<th>num</th>
	<td><input type="text" name="num" th:value="${b.num }" readonly></td>
</tr>
<tr>
	<th>writer</th>
	<td><input type="text" th:value="${b.writer.id }" readonly></td>
</tr>
<tr>
	<th>wdate</th>
	<td><input type="text" th:value="${b.wdate }" readonly></td>
</tr>
<tr>
	<th>title</th>
	<td><input type="text" name="title" th:value="${b.title }" th:readonly="${session.loginId != b.writer.id}"></td>
</tr>
<tr>
	<th>content</th>
	<td><textarea rows="5" cols="30" name="content" th:readonly="${session.loginId != b.writer.id}">[[${b.content }]]</textarea></td>
</tr>
<tr th:if="${session.loginId == b.writer.id}">
	<td>편집</td>
	<td><input type="submit" value="수정">
		<input type="button" value="삭제" onclick="d()"></td>
</tr>
</table>
</form>
</body>
</html>