<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<h3>글작성</h3>
<form action="/data/add" method="post" enctype="multipart/form-data">
<table border="1">
<tr>
	<th>writer</th>
	<td><input type="text" name="writer" th:value="${session.loginId }" readonly></td>
</tr>
<tr>
	<th>title</th>
	<td><input type="text" name="title"></td>
</tr>
<tr>
	<th>data</th>
	<td><input type="file" name="f"></td>
</tr>
<tr>
	<th>content</th>
	<td><textarea rows="5" cols="30" name="content"></textarea></td>
</tr>
<tr>
	<th>작성</th>
	<td><input type="submit" value="작성"></td>
</tr>
</table>
</form>
</body>
</html>
</body>
</html>